.modal {
  font-size: 16px;
  background-color: #f6f6f6;
  margin-left: 20px;
  margin-right: 20px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.8));
}
.modal > .header {
  background-color: #ffc983;
  width: 100%;
  // border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 12px;
}
.modal > .content {
  text-align: center;
  width: 100%;
  padding: 15px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 7px;
  top: -15px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.MuiButton-label {
  * {
    color: red;
  }
  color: red;
}

.delete-button {
}

.MuiDivider-middle {
  margin-left: 16px;
  margin-right: 16px;
}
