.return-button {
  width: 30px;
}

.show {
  margin-left: 16px;
  margin-right: 16px;

  &--poster {
    width: 300px;
    margin-bottom: 16px;
  }

  &--header {
    width: 70%;
    @include flex-mixin(row, nowrap, center, space-evenly);
  }
  &--imdb {
    margin-top: 16px;
    margin-bottom: 26px;
  }
  &--div {
    @include flex-mixin(row, nowrap, center, space-around);
  }
}

span {
  font-weight: bold;
}
