.return-button {
  width: 30px;
}

.show {
  margin-left: 16px;
  margin-right: 16px;

  &--poster {
    width: 300px;
    margin-bottom: 16px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.6));
  }

  &--header {
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%;
    @include flex-mixin(row, nowrap, center, left);
    &__title {
      margin-left: 16px;
      margin-top: 0px;
    }
  }
  &--imdb {
    margin-top: 16px;
    margin-bottom: 26px;
  }
  &--div {
    @include flex-mixin(row, nowrap, center, space-around);
  }
}

span {
  font-weight: bold;
}
